@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

.tabbrowser-tab .tab-icon-image,
.tabbrowser-tab .tab-throbber { display:none!important; }

#personal-bookmarks .toolbarbutton-icon { display:none!important; }

:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}
#sidebar-splitter { min-width: 1px !important; max-width: 1px !important; opacity:0.7; }
#star-button{
display:none;
}
